# Discord Webhooks
VITE_DISCORD_SCORES_WEBHOOK=https://discord.com/api/webhooks/1481593815461658725/3fNo1rs4hxkA8zIZjCAM5FP6F_dXpH3LLuCyyXZD1rD-R0vsbSR_jluNwBk7Zku4IFFA
VITE_DISCORD_REGISTRATION_WEBHOOK=https://discord.com/api/webhooks/1481593953445871788/h9c7dHxyzcVlvsVV5xB97lWR-FXTa3Kavk0n4pmaIC8-w5aYiFklVapbF72Kdl137oyE
VITE_DISCORD_ACCOUNTS_WEBHOOK=https://discord.com/api/webhooks/1481594296376496320/jmb9kOnVz0nKsgx0zs4mlmx9EGgzCmjJkyyRZnCcWVOp2OV_8aA6bTcTxsZeR9u1irmO
VITE_DISCORD_STAFF_WEBHOOK=https://discord.com/api/webhooks/1481594419554553897/XixNzvFOfBqMZI9HvBpApkWIV_uIFbWF76blgUdlJbjeJEJ8PoRoJrZ84PyavjCcQFq5
